{% extends '::layout.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block corps %}

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nom Concept</th>
					<th>Decription</th>
					<th>Option</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for concept in tabConcept %}
					<tr>
						<td>{{concept.nomConcept}}</td>
						<td>{{concept.description}}</td>
						<td><a href="{{path('ProjetBDDAdminBundleModificationConcept', {'nom' : concept.nomConcept})}}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></a></td>
						<td><a href="{{path('ProjetBDDAdminBundleModificationConcept', {'nom' : concept.nomConcept})}}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}